:root {
    --fretboard-height: 300;
    --number-of-strings: 6;
    --string-height: 10;
    --half-string-height: calc(var(--string-height) /2);
    --string-top-position: calc(var(--fretboard-height) / var(--number-of-strings) / 2 - var(--half-string-height));
    --double-fretmark-position-1: calc(var(--fretboard-height) * 0.25);
    --double-fretmark-position-2: calc(var(--fretboard-height) * 0.75);
    --rootcolor: red;
    --thirdcolor: blue;
    --fifthcolor: green;
}

.fretboard {
    display: flex;
    flex-direction: column;
    background: #383739;
    width: 100%;
    height: calc(var(--fretboard-height) * 1px);
    margin-top: 30px;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
      }
    .string {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        min-width: 636px;
        &:before {
            content: '';
            width: 100%;
            height: calc(var(--string-height) * 1px);
            background: linear-gradient(#eee, #999);
            box-shadow: 106px 3px 10px #1e1e1f;
            z-index: 1;
            position: absolute;
            top: calc(var(--string-top-position) * 1px);
        }
        .note-fret {
            display: flex;
            flex: 1;
            border-right: 10px solid;
            border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
            justify-content: center;
            align-items: center;
            position: relative;
            &:first-child {
                background: #161717;
                min-width: 106px;
                border-right: 15px solid;
                flex-grow: 0;
                flex-shrink: 0;
                border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
            }
        }
        .default:before {
            content: attr(data-note);
                width: 33px;
                height: 33px;
                border-radius: 50%;
                line-height: 33px;
                text-align: center;
                background: white;
                z-index: 2;
                color: black;
                opacity: 0;
                transition: .3s;
        }
        .visible:before {
            opacity: 1;
        }
        .root:before {
            background: var(--rootcolor);
            opacity: 1;
            color: white;
        }
        .third:before {
            background: var(--thirdcolor);
            opacity: 1;
            color: white;
        }
        .fifth:before {
            background: var(--fifthcolor);
            opacity: 1;
            color: white;
        }
        .single-fretmark {
            &:after {
                content: '';
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: #DFDBCE;
                top: calc(var(--fretboard-height) / 2 * 1px);
                transform: translate(0, -50%);
            }
        }
        .double-fretmark {
            &:before {
                content: '';
                position: absolute;
                top: calc(var(--double-fretmark-position-1) * 1px);
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: #DFDBCE;
                transform: translate(-140%, -50%);
            }
            &:after {
                content: '';
                position: absolute;
                top: calc(var(--double-fretmark-position-2) * 1px);
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: #DFDBCE;
                transform: translate(-140%, -50%);
            }
        }
    }
}
.text {
    display: none;
    .roottext {
        color: var(--rootcolor);
    }
    .thirdtext {
        color: var(--thirdcolor);
    }
    .fifthtext {
        color: var(--fifthcolor);
    }
    padding-left: 5%;
    padding-right: 5%;
}

.active {
    display: block
}

form {
    select {
        padding: 3px 10px;
        font-size: 17px;
        border: 1px solid black;
        border-radius: 20px;
        &:first-of-type {
            margin-right: 20px;
        }
    }
    input[type=submit] {
        margin-top: 30px;
        border-radius: 20px;
        padding: 5px 40px;
        background: transparent;
        border: 3px solid black;
        font-size: 20px;
        transition: .5s;
        &:hover {
            cursor: pointer;
            background-color: black;
            color: white;
        }
    }
    p {
        margin-bottom: 5px;
    }
}